<% net = Setting.find_by_name('net').value %>
<% if dmz.value.blank? %>
<big><%= net %>.</big><%= text_field_tag :dmz_ip, dmz.value, :size => 4 %> &nbsp;
<%= submit_to_remote "set_dmz", " #{t 'create'} &raquo; ",
		:url =>  { :controller => 'network', :action => 'set_dmz' },
		:html =>  { :id => "set_dmz_button", :disabled => false },
		:with => "'ip=' + escape($('dmz_ip').value)",
		:before => spinner_show('dmz'),
		:success => spinner_hide('dmz'),
		:update => { :success => "setting-dmz", :failure => 'dmz_error_msgs' } %>
<% end %>
<% unless dmz.value.blank? %>
		<big><%= net %>.<%= dmz.value %></big> &nbsp;
<% end %>
<%= unless dmz.value.blank?
		checkbox_to_remote true,
			:url => { :controller => 'network', :action => 'set_dmz', :ip => "" },
			:before => "Element.show('spinner-dmz')",
			:success => "Element.hide('spinner-dmz')",
			:update => { :success => "setting-dmz" }
	end %>
<% unless dmz.value.blank? %>
		&nbsp; &raquo; Uncheck to disable DMZ
<% end %>
&nbsp; <%= spinner "dmz" %>
<div id="dmz_errors"></span>
