<table>
	<tr><td>&nbsp;</td></tr>
	<tr>
	<td>Router Model: </td>
	<td>
		<span id="setting-model">
		<%= render :partial => "network/router/model" %>
		</span>
	</td>
	</tr>
	<tr><td>&nbsp;</td></tr>

<% if @router %>
	<tr>
	<td>Authentication: </td>
	<td>
		<span id="setting-auth">
		<%= render :partial => "network/router/auth", :locals => { :username => @router.username, :password => @router.password } %>
		</span>
	</td>
	</tr>
	<tr><td>&nbsp;</td></tr>

<% if @router.supports? 'dhcp' %>
	<tr>
	<td>Router DHCP: </td>
	<td>
		<span id="setting-dhcp">
		<%= render :partial => "network/router/dhcp", :locals => { :setting => Setting.network.find_by_name('dhcp_in_router') } %>
		</span>
	</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
<% end %>
<% if @router.supports? 'port-forwarding' %>
	<tr>
	<td>Port Forwarding: </td>
	<td>
		<span id="setting-port-forward">
		<%= render :partial => "network/router/port_forward", :locals => { :setting => Setting.network.find_by_name('port_forward') } %>
		</span>
	</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
<% end %>
<% if @router.supports? 'ip-filtering' %>
	<tr>
	<td>IP Filtering: </td>
	<td>
		<span id="setting-ip-filter">
		<%= render :partial => "network/router/ip_filter", :locals => { :setting => Setting.network.find_by_name('ip_filter') } %>
		</span>
	</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
<% end %>
<% if @router.supports? 'port-filtering' %>
	<tr>
	<td>Port Filtering: </td>
	<td>
		<span id="setting-port-filter">
		<%= render :partial => "network/router/port_filter", :locals => { :setting => Setting.network.find_by_name('port_filter') } %>
		</span>
	</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
<% end %>
<% if @router.supports? 'mac-filtering' %>
	<tr>
	<td>MAC Filtering: </td>
	<td>
		<span id="setting-mac-filter">
		<%= render :partial => "network/router/mac_filter", :locals => { :setting => Setting.network.find_by_name('mac_filter') } %>
		</span>
	</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
<% end %>
<% if @router.supports? 'url-filtering' %>
	<tr>
	<td>URL Filtering: </td>
	<td>
		<span id="setting-url-filter">
		<%= render :partial => "network/router/url_filter", :locals => { :setting => Setting.network.find_by_name('url_filter') } %>
		</span>
	</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
<% end %>
<% if @router.supports? 'openvpn' %>
	<tr>
	<td>OpenVPN: </td>
	<td>
		<span id="setting-vpn">
		<%= render :partial => "network/router/vpn", :locals => { :setting => Setting.network.find_by_name('vpn') } %>
		</span>
	</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
<% end %>
<% if @router.supports? 'dmz' %>
	<tr>
	<td>DMZ: </td>
	<td>
		<span id="setting-dmz">
		<%= render :partial => "network/router/dmz", :locals => { :dmz => Setting.network.find_by_name('dmz') } %>
		</span>
	</td>
	</tr>
<% end %>
<% end %>
</table>
