<div class="center">
<table class="apptable" width="100%">
  <thead class="apptable">
    <tr>
      <td><%= t 'model' %></td>
      <td><%= t 'device' %></td>
      <td><%= t 'temperature' %> (C)</td>
      <td><%= t 'temperature' %> (F)</td>
    </tr>
  </thead>
  <tbody>
<%
   @disks.each do | disk |

  t = disk[:temperature].to_i
  temperature = "-"
  tempcolor = "cool"
  if t > 0
    temperature = t.to_s
    tempcolor = "warm" if t > 39
    tempcolor = "hot" if t > 49
    farenheight = (t * 1.8 + 32).to_i.to_s
  else
	temperature = "-"
	farenheight = "-"
  end

-%>
  <tr class="<%= cycle("odd", "even") %>">
  <td><%= h(disk[:model]) -%></td>
  <td><%= disk[:device] -%></td>
  <td align="center" class="temperature-<%= tempcolor -%>"><%= temperature -%></td>
  <td align="center" class="temperature-<%= tempcolor -%>"><%= farenheight -%></td>
  </tr>
<% end %>
  </tbody>
</table>
</div>
