<%
	id = "access_#{share.id}"
	spin = "permissions-#{share.id}"
	spin_show = "Element.show('spinner-#{spin}')"
	spin_hide = "Element.hide('spinner-#{spin}')"
%>
<div id="<%= id %>">
<%= checkbox_to_remote share.everyone,
	:url => { :controller => 'share', :action => 'toggle_everyone', :id => share },
	:submit => id,
	:before => spin_show,
	:success => spin_hide,
	:update => id -%>
&nbsp; <%= t 'all_users' %> &nbsp;
<% if share.everyone %>
<%= checkbox_to_remote !share.rdonly,
	:url => { :controller => 'share', :action => 'toggle_readonly', :id => share },
	:submit => id,
	:before => spin_show,
	:success => spin_hide,
	:update => id -%>
&nbsp; <%= t 'writeable' %>
<% end %>
<%= spinner spin %>
<% unless share.everyone or User.count < 1 %>
	<br/>
	<br/>
	<fieldset>
	<legend>&nbsp; <%=t 'users' %> &nbsp;</legend>
		<table>
		<thead>
		<tr><td>&nbsp;</td><td></td><td>&nbsp;</td><td><%= t 'access' %></td><td>&nbsp;</td><td><%= t 'writeable' %></td></tr>
		</thead>
		<% User.all.each do |u| %>
		<tbody>
		<tr>
			<td> &nbsp; </td>
			<td><%= "#{u.name} (#{u.login})" %></td>
			<td>&nbsp;</td>
			<td><%= checkbox_to_remote share.users_with_share_access.include?(u),
				:url => { :controller => 'share', :action => 'toggle_access', :id => share, :user => u },
				:submit => id,
				:before => spin_show,
				:success => spin_hide,
				:update => id -%>
			</td>
			<td>&nbsp;</td>
			<td><%= if share.users_with_share_access.include?(u)
					checkbox_to_remote share.users_with_write_access.include?(u),
					:url => { :controller => 'share', :action => 'toggle_write', :id => share, :user => u },
					:submit => id,
					:before => spin_show,
					:success => spin_hide,
					:update => id
				else
					check_box_tag "writeable_#{share.id}_#{u.id}", '', false, :disabled => true
				end
				%>
			</td>
		</tr>
		</tbody>
		<% end %>
		<tbody>
		<tr>
			<td> &nbsp; </td>
			<td><%=t 'anonymous_guests'%></td>
			<td>&nbsp;</td>
			<td><%= checkbox_to_remote share.guest_access,
				:url => { :controller => 'share', :action => 'toggle_guest_access', :id => share },
				:submit => id,
				:before => spin_show,
				:success => spin_hide,
				:update => id -%>
			</td>
			<td>&nbsp;</td>
			<td><%= if share.guest_access
					checkbox_to_remote share.guest_writeable,
					:url => { :controller => 'share', :action => 'toggle_guest_writeable', :id => share },
					:submit => id,
					:before => spin_show,
					:success => spin_hide,
					:update => id
				else
					check_box_tag "guest_writeable_#{share.id}", '', false, :disabled => true
				end
				%>
			</td>
		</tr>
		</tbody>
		</table>
	</fieldset>
<% end %>
</div>
