<% part = disk_pooling_partition
	t = part[:bytes_total].to_f
	f = part[:bytes_free].to_f
	spacecolor = "cool"
	spacecolor = "warm" if f < (t * 0.20)
	spacecolor = "hot" if f < (t * 0.10)
	path = part[:path]
	# FIXME not terribly efficient, but hey, big deal
	checked = DiskPoolPartition.enabled?(path)
-%>
<tr class="<%= cycle("odd", "even") %>">
	<td align="center">
		<%= render :partial => 'share/disk_pooling_partition_checkbox', :locals => { :checked => checked, :path => path } %>
	</td>
	<td><%= spinner "part-#{path}" %></td>
	<td align="left"><%= part[:path] -%><%= optional_warnings part[:path] %></td>
	<td align="center"><%= number_to_human_size(t) -%></td>
	<td align="center" class="temperature-<%= spacecolor -%>"><%= number_to_human_size(f) -%></td>
	<td align="center" class="temperature-<%= spacecolor -%>"><%= number_to_percentage(f/t*100, :precision => 0) -%></td>
</tr>
