<div id="shares" class="settings">
  <div class="error" style="display:none"></div>
<br />
<span class="warning">
<%= theme_image_tag("danger") %> &nbsp; <%= t 'warning' %>: <%=t 'this_feature_is_under_heavy_development' %> &nbsp;&raquo;&nbsp;<a href="http://wiki.amahi.org/index.php/Greyhole" target="_blank"><%= theme_image_tag("more", :title => 'Greyhole') %></a>
</span>
<br />
<br />
<br />
<div class="center">
<table class="apptable" width="100%">
	<thead class="apptable">
	<tr>
		<td><%= t 'pooled' %></td>
		<td style="width:16px">&nbsp;</td>
		<td><%= t 'location' %></td>
		<td align="center"><%= t 'total_space' %> </td>
		<td align="center"><%= t 'free_space' %></td>
		<td align="center">(%)</td>
	</tr>
	</thead>
	<tbody>
	<%= render :partial => 'share/disk_pooling_partition', :collection => @partitions %>
	<%= render :partial => 'share/disk_pooling_broken_partition', :collection => @broken_disk_pool_partitions %>
	</tbody>
</table>
</div>
<br />
<% unless Greyhole.enabled? %>
	<p><%=theme_image_tag "warning" %> <%=t 'greyhole_not_installed' %><p/><br />
<% end %>
<p><%= t('disk_pool_details', :greyhole => '<a target="_blank" href="http://greyhole.pommepause.com/">Greyhole</a>', :shares => link_to(t('shares'), {:controller => 'setup', :tab => 'share'})) %>
 &nbsp; &nbsp; &raquo; <a href="http://wiki.amahi.org/index.php/Storage_pooling" target="_blank"><%= theme_image_tag "more"  %></a>
</p>
</div>
