<%
	delete_icon = theme_image_tag("delete", :title => t('delete_static_ip')) 
	edit_icon = theme_image_tag("edit-open", :title => t('edit_static_ip'))
	address = [@net, "<b>#{h one_host.address}</b>"].join '.'
%>
<tr class="<%= cycle("odd", "even") -%>">
  <td><%=h one_host.host %></td>
  <td><%=h one_host.mac %></td>
  <td><%= address %></td>
  <td><%= link_to edit_icon, edit_host_path(one_host) %></td>
  <td><%= link_to delete_icon, one_host, :confirm => t('are_you_sure'), :method => :delete %></td>
</tr>
