<div align="center">
    <div style="margin: 3%">
    <% if @hosts.size > 0 %>
    <div>
	<table class="apptable">
	  <thead class="apptable">
  	  <tr><td><%=t 'computer_name' %></td><td><%=t 'ip_address' %></td><td><%=t 'mac_address' %></td></tr>
	  </thead>
	  <tbody>
          <% @hosts.each do | host | %>
	    <tr class="<%= cycle("odd", "even") -%>">
	      <td><%= host[:host] + '.' + @domain %></td>
	      <td><%= @net + '.' + host[:address] %></td>
	      <td><%= host[:mac] %></td>
	    </tr>
          <% end %>
	  </tbody>
	</table>
    </div>
    <% else %>
    <div>
	<h2><%=t 'there_are_no_static_dhcp_leases' %></h2>
    </div>
    <% end %>
    </div>
</div>
