<div align="center">
	<% if @has_ical %>
		<h3>
		<a href="http://webcal/week.php?cal=all_calendars_combined971"><%=t 'view_all_calendars_simultaneously' %></a> <%=t 'or_view_each_one_separately_below' %>
		</h3>
	<% end %>
        <table class="apptable">
          <thead class="apptable">
            <tr>
              <td align="left"><%=t 'calendar_name' %></td>
              <td align="center"><%=t 'subscribe' %></td>
              <td align="center"><%=t 'delete' %></td>
            </tr>
          </thead>
          <tbody id="calendars-table">
		<% if @calendars.size > 0 %>
			<%= render :partial => 'calendar/calendar', :collection => @calendars, :locals => { :has_ical => @has_ical } %>
		<% else %>
			<tr><td colspan="3"><%=t 'there_are_no_calendars_available_see_wiki' %></td></tr>
		<% end %>
          </tbody>
        </table>

<br />
<br />
<%= button_to_function " #{t 'new'} &raquo; ", update_page { |page|
		 page.hide 'calendar_start_button'
		 page.visual_effect :appear, 'calendar_name_area'
		 page[:calendar_name].value = ''
	}, :id => 'calendar_start_button'
%>
<div id="calendar_name_area" style="display: none">
<div style="width: 45%">
<fieldset>
<legend>&nbsp; <%= t 'create' %> &nbsp;</legend>
<div style="margin: 5% 0% 5% 5%">
	<table>
	<tr>
	<td><%= t 'name' %>:</td><td><%= text_field_tag :calendar_name, nil, :size => 24 %> &nbsp; <%=spinner 'new-calendar' %></td>
	</tr>
	<tr><td></td></tr>
	<tr>
	<td>&nbsp;</td>
	<td>
	<%= link_to_function t("cancel"), update_page { |page|
				page.hide 'calendar_name_area'
				page[:calendar_name].value = ""
				page.visual_effect :appear, 'calendar_start_button'
		} %> &nbsp;&nbsp;
	<%= submit_to_remote "calendar_name_button", " #{t 'create'} &raquo; ",
			:url =>  { :controller => 'calendar', :action => 'new' },
			:html =>  { :id => "calendar", :disabled => false },
			:with => "'name=' + escape($('calendar_name').value)",
			:before => spinner_show('new-calendar'),
			:loading => "Element.hide('calendar_name_area')",
			:success => spinner_hide('new-calendar') + "Element.show('calendar_name_area'); Element.hide('calendar_name_area'); Element.appear('calendar_start_button');",
			:update => { :success => "calendars-table", :failure => 'error_msgs' } %>
	</td>
	</tr>
	</table>
</div>
</fieldset>
</div>

</div>
<br />
<br />
<%=t 'check_the_calendars_wiki_for_more_details' %> &nbsp;&nbsp;&raquo; <a href="http://wiki.amahi.org/index.php/Calendars" target="_blank"><%= theme_image_tag "more"  %></a>
</div>
