<tr><td> &nbsp; </td><td> &nbsp; </td><td> &nbsp; </td></tr>
<tr>
	<td><%=t 'ip_address' %>:</td><td> &nbsp; </td>
	<td><%= @net %>.<%= rule.ip %></td>
</tr>
<tr><td> &nbsp; </td><td> &nbsp; </td><td> &nbsp; </td></tr>
<tr>
	<td><%=t 'protocol' %>:</td><td> &nbsp; </td>
	<td><%= fw_prot(rule.protocol) %></td>
</tr>
<tr><td> &nbsp; </td><td> &nbsp; </td><td> &nbsp; </td></tr>
<tr>
	<td><%=t 'comment' %>:</td><td> &nbsp; </td>
	<td><%= h(rule.comment) %></td>
</tr>
