<div class="fw-selection" id="mac-filter">
      <table>
	<tr>
      	<td></td>
		<td>
			<%=t 'firewall_mac_address_filter_info' %> 
		</td>
	</tr>
	<tr>
      <td class="fw-label"><%=t 'mac_address' %>:</td>
      <td class="fw-setting"><%= text_field_tag :mac, "", :size => 17, :maxlength => 22 %>
      	<span style="display: none" id="mac_messages" class="messages"></span>
      </td>
	</tr>
	<tr>
      	<td></td>
		<td><%=t 'mac_address_to_be_filtered_in_format' %></td>
	</tr>
	<tr>
      <td class="fw-label"><%=t 'comment' %>:</td>
      <td class="fw-setting"><%= text_field_tag :comment, '', :size => 25, :maxlength => 40 %></td>
	</tr>
      </table>
</div>
<%= render :partial => 'firewall/new_button' %>

<%= observe_field 'mac', :frequency => 0.5,
			:url => { :controller => 'firewall', :action => 'check_mac' },
			:with => "'mac=' + encodeURIComponent(value)" %>

