<% protocol_options = options_for_select [['Both', 'both'], ['TCP', 'tcp'], ['UDP', 'udp']] %>
<div class="fw-selection" id="ip-filter">
      <table>
	<tr>
      	<td></td>
		<td>
			<%=t 'these_rules_are_used_to_restrict_ips' %> 
		</td>
	</tr>
	<tr>
      <td class="fw-label"><%=t 'ip_address' %>:</td>
      <td class="fw-setting"><big><%= @net %>.</big><%= text_field_tag :ip, "", :size => 3, :maxlength => 3 %>
      	<span style="display: none" id="ip_messages" class="messages"></span></td>
	</tr>
	<tr>
      <td class="fw-label"><%=t 'protocol' %>:</td>
      <td class="fw-setting"><%= select_tag :protocol, protocol_options %>
      	<span style="display: none" id="protocol_messages" class="messages"></span>
      </td>
	</tr>
	<tr>
      <td class="fw-label"><%=t 'comment' %>:</td>
      <td class="fw-setting"><%= text_field_tag :comment, '', :size => 25, :maxlength => 40 %></td>
	</tr>
	<tr>
      	<td></td>
      	<td><%=t 'this_ip_will_be_filtered' %></td>
      </tr>
      </table>
</div>
<%= render :partial => 'firewall/new_button' %>

<%= observe_field 'ip', :frequency => 0.5,
			:url => { :controller => 'firewall', :action => 'check_ip' },
			:with => "'ip=' + encodeURIComponent(value)" %>

