<% id = "login_required_#{webapp.id}" %>
<span id="<%= id %>">
<%= checkbox_to_remote webapp.login_required,
	:url => { :controller => 'webapp', :action => 'toggle_login_required', :id => webapp },
	:submit => id,
	:before => "Element.show('spinner-access-#{webapp.id}')",
	:success => "Element.hide('spinner-access-#{webapp.id}')",
	:update => id -%>
&nbsp; <%=t 'require_login' %> &nbsp; &nbsp; &raquo; <a href="http://wiki.amahi.org/index.php/Require_Login" target="_blank"><%= theme_image_tag "more"  %></a>
<%= spinner "access-#{webapp.id}" %>
</span>

