<% javascript_tag :defer => 'defer' do -%>
	function keyPressHandler(e) {
		var kC  = (window.event) ? event.keyCode : e.keyCode;
		var Esc = (window.event) ? 27 : e.DOM_VK_ESCAPE;
		if (kC==Esc) {
			$$(".settings-stretcher").invoke('hide');
			$$(".stretchtoggle").invoke('removeClassName', "settings-row-open");
		}
	}
	document.onkeydown = keyPressHandler;
<% end -%>
<% submenus = @tabSelection[:menus] %>
<div id="preferencestabs">
<table class="preftab">
<tr>
	<% @tabs.sort{|a,b| a[:order] <=> b[:order]}.each do |t| %>
		<td class="<%= t == @tabSelection ? "preftabheaderActive" : "preftabheaderInactive" %>">
		<%= link_to(t[:title], { :action => :index, :tab => t[:controller], :sub => t[:menus][0].first }) %></td>
	<% end %>
	<td class="preftabfiller">&nbsp;</td>
</tr>
<tr class="prefsubtab">
	<% submenus.each_index do |t| %>
		<% menu = submenus[t] %>
		<td class="<%= menu == @subtabSelection ? "prefsubtabheaderActive" : "prefsubtabheaderInactive" %> <%= t == 0 ? "first" : "other" %>">
		<%= menu == @subtabSelection ? (menu.blank? ? '&nbsp;' : menu.last ) :
				link_to(menu.last, { :action => :index, :tab => @tabSelection[:controller], :sub => menu.first }) %>
		</td>
	<% end %>
	<td class="prefsubtabfiller" colspan="<%= @tabs.size + 1 - submenus.size %>">&nbsp;</td>
</tr>
</table>
</div>
<div id="preferences">
<table class="preftab">
	<tr>
	<td colspan="6">
	<% partial = @subtabSelection.first %>
	<%= render :partial => File.join(@tabSelection[:controller], partial.blank? ? 'index' : partial) %>
	</td>
	</tr>
</table>
</div>
