<%	server = one
	uid = server.id.to_s
	toggler = update_page do |page|
			row = "server_row_" + uid
			info = "server_info_" + uid
			page.toggle info
			page[row].toggle_class_name "settings-row-open"
		  end
	pids = server.pids
	running = server_status('running')
	stopped = server_status('stopped')
	status = pids.empty? ? stopped : running
	processes = pids.empty? ? '-' : pids.join(', ')
%>
<div id="server_whole_<%= uid %>">
<table id="server_row_<%= uid %>" class="settings stretchtoggle" onmouseup="<%= h toggler %>">
    <tr class="alt-row">
	<td class="settings-col1 servers-col1">
		<%= link_to_function(server.comment, '') %>
	</td>
	<td class="settings-col2 servers-col2" id="server_status_<%= uid %>">
		<%= status %>
	</td>
    </tr>
</table>
<div class="settings-stretcher" id="server_info_<%= uid %>" style="display:none"> 
<%= render :partial => 'server/status', :locals => { :server => server, :pids => pids } %>
</div>
</div>
